body {
    color: white !important;
    background-color: #222831 !important;
    font-family: Inter, sans-serif;
    font-size: 40px;


}

::placeholder {
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    text-align: left;
    font-size: 20px;
    opacity: 0.5;

}

input:focus::placeholder {
    color: transparent;
  }

.main{
    width:500px;
    height:840px;
    background-color:#393E46;
    text-align: center;
    padding: 10px 50px;
    margin:auto;
    border-radius: 10px;
    
}

.searchbar{
    background: #00ADB5;
    font-family: Inter, sans-serif;;
    font-size: 15px;
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    outline: 0;
    height: 40px;
    flex: 1;
    margin-right: 5px;
    display: flex;
    align-items: center;

}

.searchbar input{
    background: #00ADB5;
    color: white;
    font-family: Inter, sans-serif;;
    font-size: 20px;
    border: 0;
    outline: 0;
    flex: 1;

}

.searchbar button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.rowA{
    display: flex;
    justify-content: center;
    align-items: center;

}

.rowA h1{
    margin: 0 50px;
}

.icon{
    width: 200px;
    height: auto;
}

.info{ 
    display: flex;
    justify-content: center;
    align-items: center;
}



.infoItem img{
    width: 60px;
    height: auto;
}

.infoItem p{
    margin: 5px 0 0;
    font-size: 20px;
}

.info img{
    margin: 0 80px;
}




